<%- include('./components/header.ejs') %>

  <%- include('./components/nav.ejs') %>
  <%- include('./components/menu-title.ejs') %>
      <div class="content">
        <div id="md">
            <%- content.htmlContent %>
        </div>
      </div>
<%- include('./components/footer.ejs') %>


